.card {
  width: 200%;
  max-width: 400px; // evita ficar gigante em telas grandes

  margin-top: 60px; // AQUI você controla a altura
 margin: 20px auto 0;


  border: 1px solid #000000;
  border-radius: 14px;
  background: #1D2548;

  padding: 20px 37px 37px;
  text-align: left;

  display: flex;
  flex-direction: column;
  gap: 10px; // controla espaçamento geral

  // sombra padrão (estado normal)
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);

  // animação suave
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  // transition = o que vai animar
  // 0.2s = duração
  // ease = curva suave (acelera e desacelera)

  // efeito desktop (hover)
  &:hover {
    transform: translateY(-4px); // sobe levemente
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25); // sombra mais forte
  }

  // efeito mobile (toque)
  &:active {
    transform: scale(0.97); // dá efeito de "pressionado"
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
  }

  h3 {
    margin: 0;
    font-size: 1.8rem;
    font-family: 'Poppins', sans-serif; // corrigido
    color: #fff;

    margin-top: -6px; // ajuste leve (evita exagero)
  }

  p {
    margin: 0;
    font-size: 0.85rem;
    font-weight: 300;
    color: #ccc;
       line-height: 1.4;
  }


}
.card__meta {
  display: flex;
  align-items: center;
  gap: 40px; // controla a distância entre eles

  margin-top: 10px; //  espacinho pequeno depois da descrição

  strong {
    font-size: 0.85rem;
    font-weight: 300;
    color: #ccc;
  }

  span {
    font-size: 0.85rem;
    font-weight: 300; //  light
    color: #ccc;
  }
}




