.page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  background: #f4f4f4;
}

/* ================= CONTAINER ================= */
.container {
  width: 90%;
  max-width: 320px;

  display: flex;
  flex-direction: column;

  justify-content: flex-start;
   padding-top: 40px;

  gap: 18px; /*  distribuição automática */
}

/* ================= LOGO ================= */
.logo {
  display: flex;
  justify-content: center;
   margin-bottom: 40px;

     margin-bottom: 30px;
}

.logo img {
  width: 140px; /* 🔥 tamanho da logo */
  margin-bottom: 30px;
}

/* ================= TEXTO ================= */
.subtitle {
  text-align: center;
  font-weight: 700;
  margin-bottom: 90px;

  margin-top: -40px;
}

/* ================= INPUT ================= */
.input-group {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.input-group label {
  font-size: 13px;
  color: #555;
}

/* CAIXA DO INPUT */
.input-box {
  position: relative;
}

/* INPUT */
.input-box input {
  width: 84%;
  height: 40px;

  border-radius: 10px;
  border: none;
  outline: none;

  padding: 0 60px 0 12px; /*  espaço maior pro ícone */

  background: #eaeaea;
  font-size: 14px;
}

/*  QUADRADO DO ÍCONE (MAIOR E MAIS BONITO) */
.icon-box {
  position: absolute;
  right: -20px;
  top: 2px;

  height: 40px;
  width: 38px;

  background: #1f2a44; /* azul petróleo */
  border-radius: 10px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-box img {
  width: 16px;
  filter: brightness(0) invert(1);
}

/* ================= ERRO ================= */
.erro {
  min-height: 18px;
  font-size: 13px;
  color: #e74c3c;
}

/* ================= BOTÃO ================= */
button {
  width: 100%;
  height: 48px;

  margin-top: 60px; /* 🔥 joga mais pra baixo */

  border: none;
  border-radius: 10px;

  background: #1f2a44;
  color: white;

  font-family: 'Poppins', sans-serif;
  font-weight: 400; /* 🔥 mais leve */

  cursor: pointer;

  transition: all 0.2s ease;
}

button:hover {
  transform: translateY(-2px);
}

button:active {
  transform: scale(0.97);
}
