<div class="page">

  <!-- HEADER -->
  <div class="header">
    <button class="back-btn" (click)="voltar()">←</button>
    <h1>Novo Funcionário</h1>
  </div>

  <!-- FORM -->
  <div class="form">

    <!-- NOME -->
    <div class="input-group">
      <label>Nome</label>
      <input type="text" [(ngModel)]="funcionario.nomeFuncionario" placeholder= "Ex: João Silva">
    </div>

    <!-- TELEFONE -->
    <div class="input-group">
      <label>Telefone</label>
      <input type="text" [(ngModel)]="funcionario.telefoneFuncionario" placeholder="(11) 99999-9999">
    </div>

    <!-- ESPECIALIDADE -->
    <div class="input-group">
      <label>Especialidade</label>
      <input type="text" [(ngModel)]="funcionario.especialidade" placeholder="Corte Masculino">
    </div>

    <div class="input-group">
      <label>Email</label>
      <input type="email" [(ngModel)]="funcionario.email" placeholder="LucDev@gmail.com">
    </div>

    <div class="input-group">
      <label>Senha</label>
      <input type="password" [(ngModel)]="funcionario.senha" placeholder="@1234">
    </div>

    <!-- BOTÃO -->
    <button class="btn-salvar" (click)="cria()">
      Salvar Funcionário
    </button>

  </div>

</div>
