<div class="page">

  <!-- HEADER -->
  <div class="header">
    <button class="back-btn" (click)="voltar()">←</button>
    <h1>Novo Funcionário</h1>
  </div>

  <!-- FORM -->
  <div class="form">

    <!-- NOME -->
    <div class="input-group">
      <label>Nome</label>
      <input type="text" [(ngModel)]="form.nome" placeholder="Ex: João Silva">
    </div>

    <!-- TELEFONE -->
    <div class="input-group">
      <label>Telefone</label>
      <input type="text" [(ngModel)]="form.telefone" placeholder="(11) 99999-9999">
    </div>

    <!-- ESPECIALIDADE -->
    <div class="input-group">
      <label>Especialidade</label>
      <input type="text" [(ngModel)]="form.especialidade" placeholder="Corte Masculino">
    </div>

    <!-- BOTÃO -->
    <button class="btn-salvar" (click)="salvar()">
      Salvar Funcionário
    </button>

  </div>

</div>
