<div class="page">

  <!-- HEADER -->
  <div class="header">
    <button class="back-btn" (click)="voltar()">←</button>
    <h1>Editar Serviço</h1>
  </div>

  <!-- FORM -->
  <div class="form">

    <label>Nome do serviço</label>
    <input type="text" [(ngModel)]="servico.nomeServico">

    <label>Descrição</label>
    <input type="text" [(ngModel)]="servico.descricaoServico">

    <label>Duração</label>
    <input type="number" [(ngModel)]="servico.duracaoMinutos">

    <label>Preço</label>
    <input type="number" [(ngModel)]="servico.precoServico">

  </div>

  <!-- BOTÃO -->
  <button class="btn-salvar" (click)="salvar()">
    Salvar Alterações
  </button>

</div>
