<div class="page">

  <!-- HEADER -->
  <div class="header">
    <button class="back-btn" (click)="voltar()">←</button>
    <h1>Novo Serviço</h1>
  </div>

  <!-- FORM -->
  <div class="form">

    <label>Nome do serviço</label>
    <input type="text" placeholder="Ex: Corte Masculino">

    <label>Duração</label>
    <input type="text" placeholder="Ex: 30 min">

    <label>Preço</label>
    <input type="number" placeholder="Ex: 30.00">

  </div>

  <!-- BOTÃO -->
  <button class="btn-salvar" (click)="salvar()">
    Salvar Serviço
  </button>

</div>
