<div class="page">

  <!-- HEADER -->
  <div class="header">
    <button class="back-btn" (click)="voltar()">←</button>
    <h1>Novo Serviço</h1>
  </div>

  <!-- FORM -->
  <div class="form">

    <label>Nome do serviço</label>
    <input type="text" [(ngModel)]="servico.nomeServico" placeholder="Ex: Corte Masculino">

    <label>Descrição</label>
     <input type="text" [(ngModel)]="servico.descricaoServico" placeholder="Ex: Corte Tradicional">

    <label>Duração</label>
      <input type="number" [(ngModel)]="servico.duracaoMinutos" placeholder="Ex: 30 min">

    <label>Preço</label>
     <input type="text" [(ngModel)]="servico.precoServico" placeholder="Ex: 30.00">

  </div>

  <!-- BOTÃO -->
  <button class="btn-salvar" (click)="salvar()">
    Salvar Serviço
  </button>

</div>
