/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

/* Aplica no projeto inteiro */
body {
  font-family: 'Poppins', sans-serif;
}

* {
  -webkit-tap-highlight-color: transparent; // remove highlight azul mobile
  user-select: none; // evita seleção de texto feia
}


/* container que segura as animações */
.route-container {
  position: relative;
  width: 100%;
  height: 100%;
}
